/* Mobile Device */
@media screen and (max-width:576px) {
    .nav, #banner, .feature-list, .feature {
        /* grid-template-columns: repeat(1, 1fr); */
        flex-direction: column
    }

    .nav, .header-title{
        padding: 10px 10px;
        margin: 0;
    }
    .banner{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .feature-list-image{
        grid-template-columns: 1fr;
    }
    .feature-list, .feature{
        margin: 10px 10px;
    }
    .card{
        padding: 0;
        margin: 0;
    }
}