/* work sans font family google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* sharde CSS */
* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header-bg {
    background: rgba(255, 144, 14, 0.10);

}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 20px;
    color: #FFFFFF;
    border: none;
}

.p-primary {
    color: #727272;
    font-weight: 400;
    margin-bottom: 20px;
}

/* header css */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 240px 20px 228px;
}

.nav-title {}

.nav-menu {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    /* display: flex; */
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.nav-menu ul li {
    list-style: none;

}

.nav-menu ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;

}

/* header titele section */
.header-title {
    text-align: center;
    padding: 100px 400px;
}

.header-title-one {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
/* Banner section */
#banner{
    display: flex;
    /* align-items: center; */
    justify-content: center;
height: 100vh;
width: 100%;
margin: 0px auto;
}
.banner{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 80%;
}

/* Main Section Start */

main{
    background-color: #FFFFFF;
}
/* Feature-list Section Start */
.feature-list{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
    gap: 4.4rem;
    
}
.feature-list-image{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10px;
    
}
.quick-list{
    color:  #727272;
font-size: 2.8rem;
font-weight: 500;
}
.of-our{
    color: #131313;
font-size: 2.8rem;
font-weight: 700;
}
.features{
    color: #FF900E;
font-size: 2.8rem;
font-weight: 700;
}

/* Feature-list Section End */
/* Feature section Start */
.feature{
    display: flex;
    gap: 3rem;
    margin: 100px 240px;
}
.h3-primary{
    color:  #131313;
font-size: 3.8rem;
font-weight: 700;
margin-bottom: 20px;
}
.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
}
.card >h4{
    color:  #131313;
font-size: 1.2rem;
font-weight: 600;
margin-bottom: 10px;
}
.ten-years{
    position: relative;
    bottom: 70px;
    right: 50px;
}
.ten-years > h3 {
    color: #FFF;
text-align: center;
font-size: 4rem;
font-weight: 700;
line-height: 70px; 
}
.ten-years > p {
    color: #FFF;
font-size: 1.5rem;
font-weight: 500;
line-height: 40px;
}

/* Feature section End */
/* Some fact Section Star */
.some-fact{
    margin: 50px 240px;
}
/* Some fact Section End */

/* Card section Start */

.card-name{
    display: flex;
    justify-content: space-between;
    margin: 30px 240px;
    /* align-items: center; */
}
.card-list{
    border-radius: 8px;
    border: 1px solid #FF900E;
    height: 200px;
    width: 200px;
    text-align: center;

}
.card-list > img{
    margin-top: 25px;
}
/* Card section End */

/* Sponsor section Start */

.sponsor{
    margin: 30px 500px;
    text-align: center;
}
.sponsor > h3 {
    font-size: 2.8rem;
}

/* Sponsor section End */

/* Socila Section Start */
.social{
    display: flex;
    justify-content: space-between;
    margin: 50px 240px;
}
/* Socila Section End */
/* Main Section End */

/* Footer Section Start */

footer{

    text-align: center;
    background: #FFF;
    margin: 200px 240px;
}
.footer-content{
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 50px;
}
/* Footer Section End */





